/*
Contenido principal
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.container-fluid a {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar {
    background-color: transparent;
    position: relative;
    z-index: 4;
}

:root {
    --textoblanco: #fff;
    --fondo: #c8e8f1;
    --textonegro: rgb(68, 66, 66);
    --prueba: (100deg, #21c8f6, #637bff);
}

.nav-link {
    margin-left: 150px;
}

body {
    background-color: white;
    list-style: none;
}

.principal {
    width: 90%;
    height: auto;
    overflow: hidden;
    border: 0px solid;
    margin: 10px auto;
}

.publicaciones {
    width: 70%;
    height: auto;
    overflow: hidden;
    border: 0px solid red;
    margin-top: 10px auto;
    float: left;
}

.post {
    width: 96%;
    height: auto;
    overflow: hidden;
    padding: 7px 7px;
    background: #fdfdfd;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgb(39, 38, 38);
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
    margin-bottom: 25px;
}

.enlace-post {
    text-decoration: none;
}

.publicaciones a .titulo-post {
    color: #6e6e6e;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.publicaciones a .titulo-post:hover {
    text-decoration: underline;
}

.publicaciones .img-post {
    width: 400px;
    height: 350px;
    margin-top: 70px;
    margin-left: 170px;
    margin-bottom: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.publicaciones .img-post2 {
    width: 700px;
    height: 350px;
    margin-top: 70px;
    margin-left: 170px;
    margin-bottom: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.publicaciones .datos-publicaciones {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0489b1;
    margin-left: 20px;
}

.publicaciones .leer-mas {
    background: #0489B1;
    color: #fdfdfd;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 5px;
}

.publicaciones .parrafo-post {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #848484;
    margin-top: 10px;
    padding: 10px;
}

.publicaciones .favoritos {
    background: #0b3b39;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

.sidebar {
    float: right;
    width: 28%;
    border: 0px solid;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.buscar,
.categorias,
.noticias {
    border-radius: 10px;
    width: 98%;
    border: 1px solid #ccc;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.buscar input[type="text"] {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc inset;
    padding: 10px 4px;
    border-radius: 10px;
    width: 79%;
    margin-left: 4px;
    margin-bottom: 4px;
}

.buscar .boton {
    border: 0px;
    color: #fdfdfd;
    background: #0b4c5f;
    padding: 10px;
    border-radius: 10px;
}

.encabezado-sidebar {
    width: 100%;
    height: 35px;
    background: rgb(39, 38, 38);
    color: var(--textoblanco);
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enlace-sidebar {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    color: #848484;
}

.enlace-sidebar:hover {
    background: #f2f2f2;
}

form {
    margin-top: 10px;
}

footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    color: var(--textoblanco);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--textoblanco);
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 20px;
    text-transform: capitalize;
}

.mystyle {
    background-color: red;
    border-radius: 10px;
}

.leer {
    margin-left: 20px;
}

